#portfolio { 
    padding: 0 9%
}

.gallery-container { 
    margin: auto;
    width: 100%
}

.web-portfolio {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
