#services { 
    background: #ffffff;
    
}
:root { 
    --orange: rgb(228, 8, 45);;
    --black: #000;
}
.services-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.services-container .service-box { 
    margin: auto;
    background-color: #fff;
  
    border: 1px solid var(--orange);
    width: 350px;
    height: 250px;
    object-fit: contain;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out 0s
    
}

.services-container .service-box:hover {
    border-top: 6px solid var(--orange);
}

.services-container .service-box .icon { 
    display: flex;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: var(--orange);
    border-radius: 50%;
}

.services-container .service-box .icon .icon-image { 
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    
    color: #fff;
    align-items:center;
    justify-content: center;
    object-fit: contain;
}

.services-container .service-box h3 { 
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(46, 46, 46);
}

.services-container .service-box p { 
    margin-top: -1rem;
    letter-spacing:-0.01rem;
    font-size: 0.9rem;;
    color: rgb(46, 46, 46);
}

.getquote{
    width: 100%;
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url('./img/bg.png');
}

.getquote h3{

    margin-top: 3rem;;
    color: white;
    font-weight: 600;
    text-align: center
}

.btn { 
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);

    width: 200px;
    height: 50px;
}

.btn a { 
    color: white; 
    text-decoration: none;
    font-weight: 600;
}


.services-container .service-box p {
    text-align: center;
}

@media (max-width:991px) {
    .services-container {
        flex-direction: column;
    }
}