.footer {
    height: 10vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text > p {
    color:#fff;
    text-align: center;
}

.footer .text > p a {
    color: #fff;
}


.footer .text >a :visited {
    text-decoration: none;
}