.hero-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: -5rem;
  object-fit: contain;
  background-attachment: fixed;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hero-container > img {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-container .text {
  padding: 0 8%;
  width: 700px;
  margin-top: 10rem;
}

.hero-container .text > h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: -1rem;
  color: white;
}

.hero-container .text .role-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-container .text > p {
  
  color: #fff;
  letter-spacing:-0.01rem;
    font-size: 0.85rem;
  margin-top: -0.3rem;
}

.hero-container .text .role-container .roles {
  font-weight: bold;
  color: #fff;
}

.hero-container .icons-container {
  display: flex;
  gap: 3rem;
  width: 400px;
  
  padding: 0 8%;
}

.hero-container .icons-container .icon { 
  color: white;
  cursor: pointer;
}

.hero-container .icons-container .icon:hover { 
  color:#689bd6;
}

@media (max-width: 991px) {
  .hero-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero-container .text { 
    width: 100%
  }

  .hero-container .text > h2 {
    text-align: center;
  }

  .hero-container .text > p {
    text-align: center;
  }
  .hero-container .text .role-container {
    align-items: center;
    justify-content: center;
  }

  .hero-container .icons-container {
    align-items: center;
    justify-content: center;
  }
}
