.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 2rem;
  /* box-shadow: 3px 10px 56px 0px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 3px 10px 56px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 3px 10px 56px 0px rgba(0, 0, 0, 0.42); */
  z-index: 999;
  position: fixed;
  width: 100%;
}

.header-container.scroll {
  background-color: white;
  transition: 0.4s ease-in-out;
}

.header-container.scroll .nav-menu .nav-item  .nav-links {
  color:#6c89af;
}

.header-container .logo {
  width: 150px;
  justify-self: start;
  cursor: pointer;
}

.header-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-container .nav-list {
  margin-right: 2rem;
}

.header-container .nav-list ul li {
  list-style: none;
}

.nav-links {
  color: #6c89af;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Poppins;
  padding: 0.5rem 1rem;
  height: 100%;
}

.header-container .nav-menu {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  font-weight: 700;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
}

.header-container .menu-icon {
  display: none;
}

.side-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: red;
  z-index: 10000000;
  right: -100%;
  top: 80px;
  transition: 0.2s ease-in-out;
}

.side-container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1rem;
  padding: 20px;
  color: rgb(39, 37, 37);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links {
  color: white;
}

li {
  list-style: none;
}

.side-menu.open {
  right: 0;
}

@media screen and (max-width: 960px) {
  .header-container .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .header-container .nav-menu {
    display: none;
  }

  .mobile__menu {
    display: flex;
    transition: all 0.5s ease;
  }

  .mobile__menu.open {
    transition: all 0.5s ease;
  }

  .mobile__menu .open {}
}
