.header-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 5%;
    height: 5vh;
    box-shadow: 3px 10px 56px 0px rgba(0,0,0,0.92);
    -webkit-box-shadow: 3px 10px 56px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 10px 56px 0px rgba(0,0,0,0.42);
    background: #fff;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.header-container .nav-list ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 2rem;
}

.header-container .logo {
    width: 150px;
}

.header-container .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-container .nav-list ul li {
    list-style: none;
    
}

.header-container .nav-list ul li a {
    text-decoration: none;
    color:#454545;
    text-transform: uppercase;
    font-weight: bold;
}

.header-container .nav-list ul li a:hover{
    color: #4e8cd3;
    transition: all .9 ease;
}