@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
* {
  font-family: Signika;
  font-weight: 100;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.spinner {
  display: flex;
  margin: auto;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}
